<!-- Start Breadcrumbs -->
<app-breadcrumbs title="CONNECTION" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
<ul ngbNav #Arrow="ngbNav" [activeId]="1" class="nav nav-pills nav-custom nav-custom-light mb-3">
    <li [ngbNavItem]="1" (click)="RefeshWidth()">
        <a ngbNavLink>
            <span class="d-block d-sm-none"><i class="mdi mdi-home-variant"></i></span>
            <span class="d-sm-block">HARAVAN</span>
        </a>
        <ng-template ngbNavContent>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center mt-2">
                            <h5 class="text-primary">Welcome Back !</h5>
                            <p class="text-muted">Kết nối với Haravan.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mt-2">
                            <form [formGroup]="haravanForm" (ngSubmit)="onSubmitFormHaravan()">
                                <div class="mb-3">
                                    <label class="form-label" for="Username">Username</label>
                                    <input type="text" class="form-control" id="Username" placeholder="Nhập Username" 
                                        formControlName="Username"
                                        [ngClass]="{ 'is-invalid': submitted && fHaravan['Username'].errors }">
                                    <div *ngIf="submitted &&fHaravan['Username'].errors" class="invalid-feedback">
                                        <div *ngIf="fHaravan['Username'].errors['required']">Username is required</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="Password-input">Password</label>
                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                        <input type="password" class="form-control pe-5" placeholder="Nhập Password"
                                            formControlName="Password"
                                            [ngClass]="{ 'is-invalid': submitted && fHaravan['Password'].errors }"

                                            id="Password-input">
                                        <div *ngIf="submitted && fHaravan['Password'].errors" class="invalid-feedback">
                                            <span *ngIf="fHaravan['Password'].errors['required']">Password is
                                                required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="ClientID">Client ID</label>
                                    <input type="text" class="form-control" id="ClientID" placeholder="Nhập Client ID"
                                        formControlName="ClientID"
                                        [ngClass]="{ 'is-invalid': submitted && fHaravan['ClientID'].errors }">
                                    <div *ngIf="submitted && fHaravan['ClientID'].errors" class="invalid-feedback">
                                        <div *ngIf="fHaravan['ClientID'].errors['required']">Client ID is required</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="ClientSecret">Client Secret</label>
                                    <input type="password" class="form-control" id="ClientSecret" placeholder="Nhập Client Secret"
                                        formControlName="ClientSecret"
                                        [ngClass]="{ 'is-invalid': submitted && fHaravan['ClientSecret'].errors }">
                                    <div *ngIf="submitted && fHaravan['ClientSecret'].errors" class="invalid-feedback">
                                        <div *ngIf="fHaravan['ClientSecret'].errors['required']">Client Secret is required</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="PrivateToken">Private Token</label>
                                    <input type="password" class="form-control" id="PrivateToken" placeholder="Nhập Private Token"
                                        formControlName="PrivateToken"
                                        [ngClass]="{ 'is-invalid': submitted && fHaravan['PrivateToken'].errors }">
                                    <div *ngIf="submitted && fHaravan['PrivateToken'].errors" class="invalid-feedback">
                                        <div *ngIf="fHaravan['PrivateToken'].errors['required']">Private Token is required</div>
                                    </div>
                                </div>
                                <div class="mt-4 col-3 float-end">
                                    <button class="btn btn-success w-100" type="submit">Lưu</button>
    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="2" (click)="RefeshWidth()">
        <a ngbNavLink>
            <span class="d-block d-sm-none"><i class="mdi mdi-account"></i></span>
            <span class="d-sm-block">MISA - Amis</span>
        </a>
        <ng-template ngbNavContent>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mt-2">
                            <form [formGroup]="misaForm" (ngSubmit)="onSubmitFormMisa()">
                                <div class="mb-3">
                                    <label class="form-label" for="Username">Username</label>
                                    <input type="text" class="form-control" id="Username" placeholder="Nhập Username" 
                                        formControlName="Username"
                                        [ngClass]="{ 'is-invalid': submitted && fMisa['Username'].errors }">
                                    <div *ngIf="submitted &&fMisa['Username'].errors" class="invalid-feedback">
                                        <div *ngIf="fMisa['Username'].errors['required']">Username is required</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="Password-input">Password</label>
                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                        <input type="text" class="form-control pe-5" placeholder="Nhập Password"
                                            formControlName="Password"
                                            [ngClass]="{ 'is-invalid': submitted && fMisa['Password'].errors }"
                                            id="Password-input">
                                        <div *ngIf="submitted && fMisa['Password'].errors" class="invalid-feedback">
                                            <span *ngIf="fMisa['Password'].errors['required']">Password is
                                                required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="ClientID">Client ID</label>
                                    <input type="text" class="form-control" id="ClientID" placeholder="Nhập Client ID"
                                        formControlName="ClientID"
                                        [ngClass]="{ 'is-invalid': submitted && fMisa['ClientID'].errors }">
                                    <div *ngIf="submitted && fMisa['ClientID'].errors" class="invalid-feedback">
                                        <div *ngIf="fMisa['ClientID'].errors['required']">Client ID is required</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="ClientSecret">Client Secret</label>
                                    <input type="text" class="form-control" id="ClientSecret" placeholder="Nhập Client Secret"
                                        formControlName="ClientSecret"
                                        [ngClass]="{ 'is-invalid': submitted && fMisa['ClientSecret'].errors }">
                                    <div *ngIf="submitted && fMisa['ClientSecret'].errors" class="invalid-feedback">
                                        <div *ngIf="fMisa['ClientSecret'].errors['required']">Client Secret is required</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="PrivateToken">Private Token</label>
                                    <input type="text" class="form-control" id="PrivateToken" placeholder="Nhập Private Token"
                                        formControlName="PrivateToken"
                                        [ngClass]="{ 'is-invalid': submitted && fMisa['PrivateToken'].errors }">
                                    <div *ngIf="submitted && fMisa['PrivateToken'].errors" class="invalid-feedback">
                                        <div *ngIf="fMisa['PrivateToken'].errors['required']">Private Token is required</div>
                                    </div>
                                </div>
                                <div class="mt-4 col-3 float-end">
                                    <button class="btn btn-success w-100" type="submit">Lưu</button>
    
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center mt-2">
                            <h5 class="text-primary">Welcome Back !</h5>
                            <p class="text-muted">Kết nối với Misa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content text-muted">
    <div [ngbNavOutlet]="Arrow"></div>
</div>