<app-breadcrumbs title="Phân tích doanh thu theo địa điểm" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
    <!-- <div class="card"> -->
    <!-- <div class="card-body"> -->
    <ul ngbNav #Arrow="ngbNav" [activeId]="1" class="nav nav-pills nav-custom nav-custom-light mb-3">

        <li [ngbNavItem]="1" (click)="RefeshWidth()">
            <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="mdi mdi-home-variant"></i></span>
                <span class="d-sm-block">Dashboard</span>
            </a>
            <ng-template ngbNavContent>

                <div class="row">
                    <div *ngFor="let stat of dataTotal" class="col-md-3">
                        <app-totalcount2 [title]="stat.title" [subtitlelast]="stat.subtitlelast" [value]="stat.value"
                            [icon]="stat.icon" [persantage]="stat.persantage" [profit]="stat.profit"></app-totalcount2>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xxl-3 col-md-6">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Sales Forecast</h4>
                                <div class="flex-shrink-0">
                                    <div class="dropdown card-header-dropdown" ngbDropdown>
                                        <a class="text-reset dropdown-btn arrow-none" href="javascript:void(0);"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            ngbDropdownToggle>
                                            <span class="fw-semibold text-uppercase fs-12">Sort by: </span><span
                                                class="text-muted">Nov 2021<i
                                                    class="mdi mdi-chevron-down ms-1"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                            <a class="dropdown-item" href="javascript:void(0);">Oct 2021</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Nov 2021</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Dec 2021</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Jan 2022</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="mb-n3">
                                    <apx-chart [series]="salesForecastChart.series" [chart]="salesForecastChart.chart"
                                        [colors]="salesForecastChart.colors"
                                        [dataLabels]="salesForecastChart.dataLabels"
                                        [plotOptions]="salesForecastChart.plotOptions"
                                        [yaxis]="salesForecastChart.yaxis" [legend]="salesForecastChart.legend"
                                        [fill]="salesForecastChart.fill" [stroke]="salesForecastChart.stroke"
                                        [tooltip]="salesForecastChart.tooltip" [xaxis]="salesForecastChart.xaxis">
                                    </apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-md-6">
                        <div class="card card-height-100">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Deal Type</h4>
                                <div class="flex-shrink-0">
                                    <div class="dropdown card-header-dropdown" ngbDropdown>
                                        <a class="text-reset dropdown-btn arrow-none" href="javascript:void(0);"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            ngbDropdownToggle>
                                            <span class="fw-semibold text-uppercase fs-12">Sort by: </span><span
                                                class="text-muted">Monthly<i
                                                    class="mdi mdi-chevron-down ms-1"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                            <a class="dropdown-item" href="javascript:void(0);">Today</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="mb-n3">
                                    <apx-chart [series]="DealTypeChart.series" [chart]="DealTypeChart.chart"
                                        [stroke]="DealTypeChart.stroke" [fill]="DealTypeChart.fill"
                                        [markers]="DealTypeChart.markers" [colors]="DealTypeChart.colors"
                                        [xaxis]="DealTypeChart.xaxis"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6">
                        <div class="card card-height-100">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Balance Overview</h4>
                                <div class="flex-shrink-0">
                                    <div class="dropdown card-header-dropdown" ngbDropdown>
                                        <a class="text-reset dropdown-btn arrow-none" href="javascript:void(0);"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            ngbDropdownToggle>
                                            <span class="fw-semibold text-uppercase fs-12">Sort by: </span><span
                                                class="text-muted">Current Year<i
                                                    class="mdi mdi-chevron-down ms-1"></i></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                            <a class="dropdown-item" href="javascript:void(0);">Today</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Current Year</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <ul class="list-inline main-chart text-center mb-0">
                                    <li class="list-inline-item chart-border-left me-0 border-0">
                                        <h4 class="text-primary">$584k <span
                                                class="text-muted d-inline-block fs-13 align-middle ms-2">Revenue</span>
                                        </h4>
                                    </li>
                                    <li class="list-inline-item chart-border-left me-0">
                                        <h4>$497k<span
                                                class="text-muted d-inline-block fs-13 align-middle ms-2">Expenses</span>
                                        </h4>
                                    </li>
                                    <li class="list-inline-item chart-border-left me-0">
                                        <h4><span data-plugin="counterup">3.6</span>%<span
                                                class="text-muted d-inline-block fs-13 align-middle ms-2">Profit
                                                Ratio</span></h4>
                                    </li>
                                </ul>
                                <div class="mb-n3">
                                    <apx-chart [series]="splineAreaChart.series" [chart]="splineAreaChart.chart"
                                        [dataLabels]="splineAreaChart.dataLabels" [stroke]="splineAreaChart.stroke"
                                        [xaxis]="splineAreaChart.xaxis" [yaxis]="splineAreaChart.yaxis"
                                        [colors]="splineAreaChart.colors" [fill]="splineAreaChart.fill"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xl-6">
                        <div class="card card-height-100">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Sessions by Countries</h4>
                                <div class="d-flex gap-1">
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        ALL
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm">
                                        1M
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        6M
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div>
                                    <apx-chart [series]="basicBarChart.series" [colors]="basicBarChart.colors"
                                        [chart]="basicBarChart.chart" [dataLabels]="basicBarChart.dataLabels"
                                        [plotOptions]="basicBarChart.plotOptions"></apx-chart>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div> <!-- end col-->

                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header border-0 align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Audiences Metrics</h4>
                                <div class="d-flex gap-1">
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        ALL
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        1M
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        6M
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm">
                                        1Y
                                    </button>
                                </div>
                            </div><!-- end card header -->
                            <div class="card-header p-0 border-0 bg-light">
                                <div class="row g-0 text-center">
                                    <div class="col-6 col-sm-4">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1">
                                                <span [CountTo]="854" class="counter-value" [from]="0"
                                                    [duration]="1"></span>
                                                <span class="text-success ms-1 fs-12">49%<i
                                                        class="ri-arrow-right-up-line ms-1 align-middle"></i></span>
                                            </h5>
                                            <p class="text-muted mb-0">Avg. Session</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-6 col-sm-4">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1"><span [CountTo]="1278" class="counter-value" [from]="0"
                                                    [duration]="1"></span>
                                                <span class="text-success ms-1 fs-12">60%<i
                                                        class="ri-arrow-right-up-line ms-1 align-middle"></i></span>
                                            </h5>
                                            <p class="text-muted mb-0">Conversion Rate</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-6 col-sm-4">
                                        <div class="p-3 border border-dashed border-start-0 border-end-0">
                                            <h5 class="mb-1"><span [CountTo]="3" class="counter-value" [from]="0"
                                                    [duration]="1"></span>m <span [CountTo]="40" class="counter-value"
                                                    [from]="0" [duration]="1"></span>sec
                                                <span class="text-success ms-1 fs-12">37%<i
                                                        class="ri-arrow-right-up-line ms-1 align-middle"></i></span>
                                            </h5>
                                            <p class="text-muted mb-0">Avg. Session Duration</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                            </div><!-- end card header -->
                            <div class="card-body p-0 pb-2">
                                <div class="mb-n2">
                                    <apx-chart [series]="basicColumnChart.series" [chart]="basicColumnChart.chart"
                                        [colors]="basicColumnChart.colors" [dataLabels]="basicColumnChart.dataLabels"
                                        [plotOptions]="basicColumnChart.plotOptions" [yaxis]="basicColumnChart.yaxis"
                                        [legend]="basicColumnChart.legend" [fill]="basicColumnChart.fill"
                                        [stroke]="basicColumnChart.stroke" [tooltip]="basicColumnChart.tooltip"
                                        [xaxis]="basicColumnChart.xaxis"></apx-chart>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header border-0 align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Projects Overview</h4>
                                <div class="d-flex gap-1">
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        ALL
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        1M
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        6M
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm">
                                        1Y
                                    </button>
                                </div>
                            </div><!-- end card header -->

                            <div class="card-header p-0 border-0 bg-light">
                                <div class="row g-0 text-center">
                                    <div class="col-6 col-sm-3">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1"><span [CountTo]="9851" class="counter-value" [from]="0"
                                                    [duration]="1"></span></h5>
                                            <p class="text-muted mb-0">Number of Projects</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-6 col-sm-3">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1"><span [CountTo]="1026" class="counter-value" [from]="0"
                                                    [duration]="1"></span></h5>
                                            <p class="text-muted mb-0">Active Projects</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-6 col-sm-3">
                                        <div class="p-3 border border-dashed border-start-0">
                                            <h5 class="mb-1">$<span [CountTo]="228.89" [from]="0" [duration]="1"
                                                    class="counter-value"></span>k</h5>
                                            <p class="text-muted mb-0">Revenue</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-6 col-sm-3">
                                        <div class="p-3 border border-dashed border-start-0 border-end-0">
                                            <h5 class="mb-1 text-success"><span [CountTo]="10589" [from]="0"
                                                    [duration]="1" class="counter-value"></span>h</h5>
                                            <p class="text-muted mb-0">Working Hours</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                            </div><!-- end card header -->
                            <div class="card-body p-0 pb-2">
                                <div class="mb-n3">
                                    <apx-chart [series]="OverviewChart.series" [chart]="OverviewChart.chart"
                                        [stroke]="OverviewChart.stroke" [fill]="OverviewChart.fill"
                                        [markers]="OverviewChart.markers" [xaxis]="OverviewChart.xaxis"
                                        [grid]="OverviewChart.grid" [legend]="OverviewChart.legend"
                                        [plotOptions]="OverviewChart.plotOptions" [colors]="OverviewChart.colors"
                                        [tooltip]="OverviewChart.tooltip"></apx-chart>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                    <div class="col-xl-4 col-lg-6">
                        <div class="card card-height-100">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Projects Status</h4>
                                <div class="flex-shrink-0">
                                    <div class="dropdown card-header-dropdown" ngbDropdown>
                                        <a class="dropdown-btn text-muted arrow-none" href="javascript:void(0);"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            ngbDropdownToggle>
                                            All Time <i class="mdi mdi-chevron-down ms-1"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                            <a class="dropdown-item" href="javascript:void(0);">All Time</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Last 7 Days</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Last 30 Days</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Last 90 Days</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <apx-chart class="apex-charts" dir="ltr" [series]="status7.series"
                                    [labels]="status7.labels" [chart]="status7.chart"
                                    [plotOptions]="status7.plotOptions" [dataLabels]="status7.dataLabels"
                                    [legend]="status7.legend" [stroke]="status7.stroke" [colors]="status7.colors">
                                </apx-chart>
                                <div class="mt-3">
                                    <div class="d-flex justify-content-center align-items-center mb-4">
                                        <h2 class="me-3 ff-secondary mb-0">258</h2>
                                        <div>
                                            <p class="text-muted mb-0">Total Projects</p>
                                            <p class="text-success fw-medium mb-0">
                                                <span class="badge badge-success p-1 rounded-circle"><i
                                                        class="ri-arrow-right-up-line"></i></span> +3 New
                                            </p>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                        <p class="fw-medium mb-0"><i
                                                class="ri-checkbox-blank-circle-fill text-success align-middle me-2"></i>
                                            Completed</p>
                                        <div>
                                            <span class="text-muted pe-5">125 Projects</span>
                                            <span class="text-success fw-medium fs-12">15870hrs</span>
                                        </div>
                                    </div><!-- end -->
                                    <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                        <p class="fw-medium mb-0"><i
                                                class="ri-checkbox-blank-circle-fill text-primary align-middle me-2"></i>
                                            In Progress</p>
                                        <div>
                                            <span class="text-muted pe-5">42 Projects</span>
                                            <span class="text-success fw-medium fs-12">243hrs</span>
                                        </div>
                                    </div><!-- end -->
                                    <div class="d-flex justify-content-between border-bottom border-bottom-dashed py-2">
                                        <p class="fw-medium mb-0"><i
                                                class="ri-checkbox-blank-circle-fill text-warning align-middle me-2"></i>
                                            Yet to Start</p>
                                        <div>
                                            <span class="text-muted pe-5">58 Projects</span>
                                            <span class="text-success fw-medium fs-12">~2050hrs</span>
                                        </div>
                                    </div><!-- end -->
                                    <div class="d-flex justify-content-between py-2">
                                        <p class="fw-medium mb-0"><i
                                                class="ri-checkbox-blank-circle-fill text-danger align-middle me-2"></i>
                                            Cancelled</p>
                                        <div>
                                            <span class="text-muted pe-5">89 Projects</span>
                                            <span class="text-success fw-medium fs-12">~900hrs</span>
                                        </div>
                                    </div><!-- end -->
                                </div>
                            </div><!-- end cardbody -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>

            </ng-template>
        </li>

        <li [ngbNavItem]="2" (click)="SetSortTable()">
            <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="mdi mdi-account"></i></span>
                <span class="d-sm-block">Data</span>
            </a>
            <ng-template ngbNavContent>
                <div class="row" id="contactList">
                    <div class="col-lg-12">
                        <div class="card mb-0">
                            <div class="card-body border border-dashed border-end-0 border-start-0">

                                <div class="row g-1">
                                    <p class="text-muted m-0">Subject</p>
                                    <div class="col-xl-2 col-md-4">
                                        <select class="form-select" data-choices data-choices-search-true
                                            name="choices-single-default" id="choices-single-default">
                                            <option value="">Select Subject</option>
                                            <option value="Buy">Location</option>
                                            <option value="Sell">Customer</option>
                                        </select>         
                                    </div>
                                    <div class="col-xl-2 col-md-2">
                                        <div class="dropdown" ngbDropdown>
                                            <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                Template
                                            </button>
                                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1"
                                                ngbDropdownMenu>
                                                <a class="dropdown-item" href="javascript: void(0);">Template1</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Template2</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Template3</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-md-2">
                                        <div class="dropdown" ngbDropdown>
                                            <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                                                id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                                                ngbDropdownToggle>
                                                Saved results
                                            </button>
                                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton2"
                                                ngbDropdownMenu>
                                                <a class="dropdown-item" href="javascript: void(0);">Saved results1</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Saved results2</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Saved results3</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-1 mt-1">
                                    <p class="text-muted m-0">Filter</p>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ri-calendar-2-line"></i></span>
                                            <input class="form-control flatpickr-input" type="text"
                                                placeholder="Enter publish date" mwlFlatpickr [altInput]="false"
                                                [enableTime]="true" [convertModelValue]="true" value="04/07/2022 19:11"
                                                [dateFormat]="'d/m/Y H:i'"> 
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><i
                                                    class="ri-calendar-2-line"></i></span>
                                            <input class="form-control flatpickr-input" type="text"
                                                placeholder="Enter publish date" mwlFlatpickr [altInput]="false"
                                                [enableTime]="true" [convertModelValue]="true" value="04/07/2022 19:11"
                                                [dateFormat]="'d/m/Y H:i'">
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-md-4">
                                        <select class="form-control form-sle" data-choices data-choices-search-true
                                            name="choices-single-default" id="choices-single-default">
                                            <option value="">Select Type</option>
                                            <option value="Buy">Sell</option>
                                            <option value="Sell">Buy</option>

                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-md-4">
                                        <select class="form-control" data-choices data-choices-search-true=""
                                            name="choices-single-default2" id="choices-single-default2">
                                            <option value="">Select Status</option>
                                            <option value="Successful">Successful</option>
                                            <option value="Cancelled">Cancelled</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-1 col-md-4">
                                        <button class="btn btn-success w-100">Filters</button>
                                    </div>
                                </div>

                                <div class="row g-1 mt-1">
                                    <div class="col-xl-8 col-md-8">
                                        <p class="text-muted m-0">Show column</p>
                                        <div class="d-flex flex-wrap gap-2">
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">STT</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column1</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column2</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column3</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column4</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column5</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column6</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column7</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column8</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column9</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowColumn($event)">Column10</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4">
                                        <p class="text-muted mb-0">Group</p>
                                        <div id="content_group" class="d-flex flex-wrap gap-2">
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowGroup($event)">Group1</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowGroup($event)">Group2</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowGroup($event)">Group3</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowGroup($event)">Group4</button>
                                            <button type="button" class="btn btn-light waves-effect waves-light btn-sm"
                                                (click)="ShowGroup($event)">Group5</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-2 mt-2">
                                    <div class="table-responsive">
                                        <table id="table_example" datatable class="table table-hover table-bordered"
                                            style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th class="no-sort">ID</th>
                                                    <th class="sort">Name</th>
                                                    <th class="sort">Email</th>
                                                    <th class="sort">Position</th>
                                                    <th class="sort">Company</th>
                                                    <th class="sort">Country</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of TableData; let i = index ;">
                                                    <td class="no-sort">
                                                        {{i.toString()}}
                                                    </td>
                                                    <td>
                                                        {{data.name}}
                                                    </td>
                                                    <td>
                                                        {{data.email}}
                                                    </td>
                                                    <td>
                                                        {{data.position}}
                                                    </td>
                                                    <td>
                                                        {{data.company}}
                                                    </td>
                                                    <td>
                                                        {{data.country}}
                                                    </td>
                                                    <td data-column-id="actions" class="gridjs-td"><span><a
                                                                href="javascript:void(0);"
                                                                class="text-reset text-decoration-underline">Details</a></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- <div class="row justify-content-md-between align-items-md-center">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status"
                                                aria-live="polite">
                                                Showing
                                                {{service.startIndex}} to
                                                {{service.endIndex}} of {{service.totalRecords}}
                                                entries
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-5">
                                            <div class="text-md-right float-md-end gridjs-pagination">
                                                <ngb-pagination [collectionSize]="(total$ | async)!"
                                                    [(page)]="service.page" [pageSize]="service.pageSize">
                                                </ngb-pagination>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content text-muted">
        <div [ngbNavOutlet]="Arrow"></div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->