<!-- Example breadcryumbs -->
<app-breadcrumbs title="example" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- Example count total 1 -->
<div class="row">
  <div class="col-xl-12">
      <div class="card bireport-widget">
          <div class="card-body p-0">
              <div class="row row-cols-xxl-5 row-cols-md-3 row-cols-1 g-0">
                  <div *ngFor="let stat of DataCount1">
                      <app-totalcount1 [title]="stat.title" [value]="stat.value" [icon]="stat.icon" [profit]="stat.profit"></app-totalcount1>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Example count total 2 -->
<div class="row">
  <div *ngFor="let stat of DataCount2" class="col-md-3">
      <app-totalcount2 [title]="stat.title" [subtitlelast]="stat.subtitlelast" [value]="stat.value" [icon]="stat.icon" [persantage]="stat.persantage" [profit]="stat.profit"></app-totalcount2>
  </div>
</div>
<!-- Example count total 3 -->
<div class="row">
  <div class="col-lg-3 col-md-6" *ngFor="let stat of DataCount3">
      <app-totalcount3 [title]="stat.title" [value]="stat.value" [icon]="stat.icon" [persantage]="stat.persantage" [profit]="stat.profit"></app-totalcount3>
  </div>
</div>
<!-- Example count total 4 -->

<div class="row">
  <div *ngFor="let stat of DataCount4" class="col-xl-3 col-md-6">
      <app-totalcount4 [title]="stat.title" [titlelink]="stat.titlelink" [link]="stat.link" [value]="stat.value" [icon]="stat.icon" [persantage]="stat.persantage" [profit]="stat.profit"></app-totalcount4>
  </div>
</div> 
<!-- Example count total 5 -->

<div class="row">
  <div class="col-lg-4" *ngFor="let stat of DataCount5">
      <app-totalcount5 [title]="stat.title" [value]="stat.value" [icon]="stat.icon" [persantage]="stat.persantage" [profit]="stat.profit" [month]="stat.month"></app-totalcount5>
  </div>
</div>
