// /* You can add global styles to this file, and also import other style files */
// .table{
//     .sort{
//         position: relative;
//     }
//     .sort:after {
//         position: absolute;
//         right: 0.5rem;
//         content: "\f0360";
//         font-family: Material Design Icons;
//         font-size: .8rem;
//         top: 12px;
//     }
//     .sort:before {
//         content: "\f035d";
//         position: absolute;
//         right: 0.5rem;
//         top: 18px;
//         font-size: .8rem;
//         font-family: Material Design Icons;
//     }
// } 
.table.dataTable th {
    color: var(--vz-body-color);
    background-color: rgba(var(--vz-light-rgb),.75);
}
.table.dataTable .no-sort { padding: 0.75rem 0.6rem; }
.table.dataTable .no-sort::after { display: none!important; }
.table.dataTable .no-sort::before { display: none!important; }

.table.dataTable .no-sort { pointer-events: none!important; cursor: default!important; }