<!-- Start Breadcrumbs -->
<app-breadcrumbs title="CUSTOMER" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Customer Listing</h4>
                <div class="table-responsive">
                    <table class="table align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th class="text-dark font-small">Team Lead</th>
                                <th class="text-dark font-small">Project</th>
                                <th class="text-dark font-small">Status</th>
                                <th class="text-dark font-small">Weeks</th>
                                <th class="text-dark font-small">Budget</th>
                            </tr>
                        </thead>
                        <!-- <tbody>
                            <tr *ngFor='let ts of topSelling'>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img [src]=ts.image alt="user" width="45" class="rounded-circle">
                                        <div class="ms-3">
                                            <h5 class="mb-0 font-small">{{ts.uname}}</h5>
                                            <span class="text-muted">{{ts.gmail}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="fs-4">{{ts.productName}}</td>
                                <td>
                                    <span class="p-2 bg-{{ts.status}} rounded-circle d-inline-block ms-3"></span>
                                </td>

                                <td>
                                    <h5 class="mb-0 fw-normal">{{ts.weeks}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{ts.budget}}</h5>
                                </td>
                            </tr>
                        </tbody> -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>